body {
    background-color: #191414;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.btn {
    color: white;
    font-weight: 500;
    font-size: large;
    border-radius: 30px;
    outline: none;
    background-color: #1DB954;
    border: 3px solid white;
}
