
body {
    background-color: #191414;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    color: white;
}

.list-group-item {
    font-family: 'Montserrat', sans-serif;
    background-color: #1DB954;
    color: #191414;
}

.list-group-item:hover {
    background-color: white
}