
body {
    background-color: #191414;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

h1 {
    text-align: center;
}

.list-group-item {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: #191414;
    border-bottom: 1px solid white;
    outline: none;
}

.list-group-item:hover {
    color: white;
    background-color: #1DB954;
}

#last {
    border: 0px;
}

.chosen, .chosen:hover {
    background-color: white;
    color: #191414;
}

.btn {
    color: white;
    font-weight: 500;
    font-size: large;
    border-radius: 30px;
    background-color: #1DB954;
    border: 3px solid white;
}

#length {
    width: 1.5em;
    text-align: center;
    background-color: white;
    color: #191414;
    border-radius: 15px;
    padding: 0 3px;
}
