
body {
    background-color: #191414;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    color: white;
}

.list-group-item {
    font-family: 'Montserrat', sans-serif;
    background-color: #191414;
    color: white;
    border-bottom: 1px solid white;
    outline: none;
}

.list-group-item:hover {
    background-color: #1DB954;
    color: white;
}

#last {
    border: 0px;
}

.chosen, .chosen:hover {
    background-color: white;
    color: #191414;
}

button {
    width: 15vw;
    color: white;
    font-weight: 500;
    font-size: large;
    padding: 5px 0px;
    border-radius: 30px;
    outline: none;
    background-color: #1DB954;
    border: 3px solid white;
}

a:focus, button:focus, button:visited {
    outline: none;
    border: 5px solid white;

}